


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <!--    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>
<header th:insert="fragments/header :: header"></header>
<!-- Navigation -->
<!--<div class="container mt-5">-->

<!--    <div th:each="el : ${article}" class="alert alert-info mt-2">-->
<!--        <h3 th:text="${el.title}">-->
<!--        </h3>-->
<!--        <p th:text="${el.content}"/>-->
<!--        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a>-->
<!--        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">-->
<!--            <button class="btn btn-warning" type="submit">delete</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div th:each="el : ${article}" class="post-heading">
                    <h1 th:text="${el.title}"></h1>
                    <span class="meta">Posted by
                          <a th:text="${el.author.getUsername()}">Start Bootstrap</a>
                          <a th:text="'on '+${el.createDate}"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div th:each="el : ${article}" class="col-lg-8 col-md-10 mx-auto">
                <p th:text="${el.content}"/>
<!--                <p>Placeholder text by-->
<!--                    <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by-->
<!--                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>-->
            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->

<div th:insert="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


</body>

</html>
